<a href="https://colab.research.google.com/github/Arnavkode/ML-lab/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

book_list = [];
for page in [1,50]:
  url = "https://books.toscrape.com/catalogue/page-" + str(page) + ".html"
  response = requests.get(url)
  soup=BeautifulSoup(response.content,'html.parser')
  bookboxs=soup.find_all('article',attrs={'class':'product_pod'})
  for book in bookboxs:
    rate = 0
    title = book.find('h3').find('a').get('title')
    price = book.find('p',attrs={'class':'price_color'}).get_text()
    availability = book.find('p', attrs={'class' : 'instock availability'}).text.strip()
    rating = book.find('p', class_=lambda x: x and x.startswith('star-rating')) #didnt
    if rating:
        if 'One' in rating['class']:
            rate = 1
        elif 'Two' in rating['class']:
            rate = 2
        elif 'Three' in rating['class']:
            rate = 3
        elif 'Four' in rating['class']:
            rate = 4
        elif 'Five' in rating['class']:
            rate = 5

    book_list.append([title,price, availability, rate ])

In [15]:
book_list

[['A Light in the Attic', '£51.77', 'In stock', 3],
 ['Tipping the Velvet', '£53.74', 'In stock', 1],
 ['Soumission', '£50.10', 'In stock', 1],
 ['Sharp Objects', '£47.82', 'In stock', 4],
 ['Sapiens: A Brief History of Humankind', '£54.23', 'In stock', 5],
 ['The Requiem Red', '£22.65', 'In stock', 1],
 ['The Dirty Little Secrets of Getting Your Dream Job',
  '£33.34',
  'In stock',
  4],
 ['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
  '£17.93',
  'In stock',
  3],
 ['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
  '£22.60',
  'In stock',
  4],
 ['The Black Maria', '£52.15', 'In stock', 1],
 ['Starving Hearts (Triangular Trade Trilogy, #1)', '£13.99', 'In stock', 2],
 ["Shakespeare's Sonnets", '£20.66', 'In stock', 4],
 ['Set Me Free', '£17.46', 'In stock', 5],
 ["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
  '£52.29',
  'In stock',
  5],
 ['Rip it Up and Start Again', '£35.02', 'In stock', 5],
 ['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
  '£57.25',
  'In stock',
  3],
 ['Olio', '£23.88', 'In stock', 1],
 ['Mesaerion: The Best Science Fiction Stories 1800-1849',
  '£37.59',
  'In stock',
  1],
 ['Libertarianism for Beginners', '£51.33', 'In stock', 2],
 ["It's Only the Himalayas", '£45.17', 'In stock', 2],
 ['Frankenstein', '£38.00', 'In stock', 2],
 ['Forever Rockers (The Rocker #12)', '£28.80', 'In stock', 3],
 ['Fighting Fate (Fighting #6)', '£39.24', 'In stock', 3],
 ['Emma', '£32.93', 'In stock', 2],
 ['Eat, Pray, Love', '£51.32', 'In stock', 3],
 ['Deep Under (Walker Security #1)', '£47.09', 'In stock', 5],
 ["Choosing Our Religion: The Spiritual Lives of America's Nones",
  '£28.42',
  'In stock',
  4],
 ['Charlie and the Chocolate Factory (Charlie Bucket #1)',
  '£22.85',
  'In stock',
  3],
 ["Charity's Cross (Charles Towne Belles #4)", '£41.24', 'In stock', 1],
 ['Bright Lines', '£39.07', 'In stock', 5],
 ["Bridget Jones's Diary (Bridget Jones #1)", '£29.82', 'In stock', 1],
 ['Bounty (Colorado Mountain #7)', '£37.26', 'In stock', 4],
 ['Blood Defense (Samantha Brinkman #1)', '£20.30', 'In stock', 3],
 ['Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)',
  '£34.65',
  'In stock',
  5],
 ['Beyond Good and Evil', '£43.38', 'In stock', 1],
 ["Alice in Wonderland (Alice's Adventures in Wonderland #1)",
  '£55.53',
  'In stock',
  1],
 ['Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)', '£57.06', 'In stock', 4],
 ["A Spy's Devotion (The Regency Spies of London #1)",
  '£16.97',
  'In stock',
  5],
 ["1st to Die (Women's Murder Club #1)", '£53.98', 'In stock', 1],
 ['1,000 Places to See Before You Die', '£26.08', 'In stock', 5]]

In [17]:
df_books = pd.DataFrame(book_list, columns=["Title", "Price", "Availability", "Star Rating"])
df_books.to_csv("books.csv", index=False)

In [6]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

import time


chrome_options = Options()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")

driver = webdriver.Chrome(options=chrome_options)
driver.get("https://www.imdb.com/chart/top/")

time.sleep(3)

movies = driver.find_elements(By.CSS_SELECTOR, "li.ipc-metadata-list-summary-item")

data = []
rank = 1
for movie in movies:
    title_elem = movie.find_element(By.CSS_SELECTOR, "h3.ipc-title__text").text
    title = title_elem.split(". ", 1)[1]

    year = movie.find_element(By.CSS_SELECTOR, "span.cli-title-metadata-item").text
    rating = movie.find_element(By.CSS_SELECTOR, "span.ipc-rating-star--rating").text

    data.append([rank, title, year, rating])
    rank += 1

driver.quit()


df_imdb = pd.DataFrame(data, columns=["Rank", "Title", "Year", "Rating"])
df_imdb.to_csv("imdb_top250.csv", index=False)

Empty DataFrame
Columns: [Rank, Title, Year, Rating]
Index: []

In [8]:
url = "https://www.timeanddate.com/weather/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

cities = []
for row in soup.select("table.zebra.tb-wt fw va-m tbody tr"):
    city = row.find("td", class_="rbi").text.strip()
    temp = row.find("td", class_="r").text.strip()
    condition = row.find("td", class_="small").text.strip()
    cities.append([city, temp, condition])

df_weather = pd.DataFrame(cities, columns=["City", "Temperature", "Condition"])
df_weather.to_csv("weather.csv", index=False)

In [9]:
cities

[]